<div actions class="blocks-actions" [formGroup]="filterForm">
  <div class="view-toggle">
    <span class="view-toggle__btn view-toggle__btn--active"><i class="ti ti-list" aria-hidden="true"></i>{{
      'blocks.viewList' | transloco }}</span>
    <a class="view-toggle__btn" routerLink="/blocks/map"><i class="ti ti-map-2" aria-hidden="true"></i>{{
      'blocks.viewMap' | transloco }}</a>
  </div>
  <label class="blocks-search">
    <i class="ti ti-search" aria-hidden="true"></i>
    <input type="text" formControlName="search" [attr.placeholder]="'common.search' | transloco" />
  </label>
  <button type="button" class="blocks-new"><i class="ti ti-plus" aria-hidden="true"></i>{{ 'common.new' | transloco
    }}</button>
</div>