<div class="naming">
  <div class="naming__filters" [formGroup]="filterForm">
    <label class="naming__search">
      <i class="ti ti-search" aria-hidden="true"></i>
      <input type="text" formControlName="search" [attr.placeholder]="'common.search' | transloco" />
    </label>
    <label class="naming__toggle">
      <input type="checkbox" formControlName="onlyUnnamed" />
      <span>{{ 'addressing.onlyUnnamed' | transloco }}</span>
    </label>
  </div>

  @if (errorMessageKey$ | async; as err) {
    <div class="naming__error">{{ err | transloco }}</div>
  }

  @for (s of (streets$ | async) ?? []; track s.id) {
    <section class="das-card item">
      <div class="item__head">
        <div class="item__id">
          <span class="item__code">{{ s.code }}</span>
          @if (s.name) { <span class="item__name">{{ s.name }}</span> }
        </div>
        <span class="item__type">{{ s.type }}</span>
      </div>

      <form class="direct" [formGroup]="nameFormFor(s.id)" (ngSubmit)="submitDirectName(s)">
        <input type="text" formControlName="name" [attr.placeholder]="'addressing.namePlaceholder' | transloco" />
        <button type="submit" class="btn btn--primary" [disabled]="(isSaving$(s.id) | async)">
          @if (isSaving$(s.id) | async) { {{ 'common.saving' | transloco }} } @else { {{ 'addressing.assignName' | transloco }} }
        </button>
      </form>
    </section>
  } @empty {
    <div class="naming__empty">
      @if (isLoading$ | async) { {{ 'common.loading' | transloco }} } @else { {{ 'addressing.emptyStreets' | transloco }} }
    </div>
  }
</div>
