<das-page-header [eyebrow]="'addressing.eyebrow' | transloco" [title]="'addressing.title' | transloco" />

<div class="addr">
  <nav class="addr__tabs">
    <a class="addr__tab" routerLink="block-naming" routerLinkActive="addr__tab--active">{{ 'addressing.blockNaming' | transloco }}</a>
    <a class="addr__tab" routerLink="street-naming" routerLinkActive="addr__tab--active">{{ 'addressing.streetNaming' | transloco }}</a>
    <a class="addr__tab" routerLink="property-numbering" routerLinkActive="addr__tab--active">{{ 'addressing.propertyNumbering' | transloco }}</a>
  </nav>

  <router-outlet />
</div>
