@use "styles/mixins" as m;

.shell {
  display: flex;
  min-height: 100vh;

  &__main {
    flex: 1;
    min-width: 0;
    height: 100vh;
    overflow: auto;
    background: var(--color-surface-alt);
    @include m.slim-scrollbar;
  }
}
